In [1]:
import pandas as pd
import numpy as np

In [2]:
teste = pd.read_csv("C:/Users/enzoj/Downloads/UNICAMP/GitHub/projects-of-data-science/Projetinho-aprendendo-a-usar-jupyter/Titanic/test.csv")
train = pd.read_csv("C:/Users/enzoj/Downloads/UNICAMP/GitHub/projects-of-data-science/Projetinho-aprendendo-a-usar-jupyter/Titanic/train.csv")

In [3]:
def transformar_sexo(valor):
    if valor == 'female':
        return 1
    else:
        return 0

Por que será que a nossa ultima predição foi tão ruim? Porque usamos apenas duas variaveis... e é bem mais complexo que isso.
Vamos usar a prática da Validação (treino).

In [6]:
train['Sex_binario'] = train['Sex'].map(transformar_sexo)
teste['Sex_binario'] = teste['Sex'].map(transformar_sexo)

variaveis = ['Sex_binario', 'Age']

X = train[variaveis].fillna(-1)
y = train['Survived']

In [7]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_binario
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [8]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [9]:
X_falso = np.arange(10)
X_falso

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [11]:
np.random.seed(0) #funcao capaz de controlar a aleatoriedade 
train_test_split(X_falso, test_size=0.5)

[array([6, 7, 3, 0, 5]), array([2, 8, 4, 9, 1])]

In [12]:
np.random.seed(1)
X_treino, X_valid, y_treino, y_valid = train_test_split(X, y, test_size=0.5)

In [13]:
X_treino.head()

     Sex_binario    Age
394            1  24.00
851            0  74.00
373            0  22.00
523            1  44.00
78             0   0.83

In [14]:
X_treino.shape, X_valid.shape, y_treino.shape, y_valid.shape

((445, 2), (446, 2), (445,), (446,))

In [15]:
modelo = RandomForestClassifier(n_estimators=100, n_jobs=-1, random_state=0)
modelo.fit(X_treino, y_treino)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=-1, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [16]:
p = modelo.predict(X_valid)

In [17]:
np.mean(y_valid == p)

0.7466367713004485

In [18]:
p = (X_valid['Sex_binario'] == 1).astype(np.int64)
np.mean(y_valid == p)

0.7623318385650224